<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password</title>

    <style>
      button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
      }

      button:hover {
        background-color: #3e8e41;
      }
    </style>
  </head>
  <body>
    <h1>Verify Your Email</h1>
    <p>Here is your pin: {{pin}}</p>
    
  </body>
</html>