<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <script src="https://kit.fontawesome.com/82011235a2.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" charset="UTF-8">
        <title>Organisation Page | Auxilium</title>
        <link rel="stylesheet" href="https://use.typekit.net/nzc8ezk.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/orgpage.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sidenavbar.css') }}">   
    </head>
    <body>
        <script src="{{ url_for('static', filename='js/requests.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sidenavbar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/orgpageHost.js') }}"></script>
        <script src="{{ url_for('static', filename='js/orgpageLeftPanel.js') }}"></script>
        <script src="{{ url_for('static', filename='js/orgpageRightPanel.js') }}"></script>
    </body>
</html> 
 
