<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" charset="UTF-8">
        <title>Add Listings | Auxilium</title>

        <link rel="stylesheet" href="https://use.typekit.net/nzc8ezk.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/addlisting.css') }}">       
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sidenavbar.css') }}">       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body>
        <script src="{{ url_for('static', filename='js/requests.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sidenavbar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/addListing.js') }}"></script>
        <script src="{{ url_for('static', filename='js/geocomplete.js') }}"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Y4aH13RIaYjD-jq3tvpcUGktNrdzIWw&libraries=places&callback=initAutocomplete" async defer></script>

        <script src="https://kit.fontawesome.com/82011235a2.js" crossorigin="anonymous"></script>
    </body>
</html> 
 
